body{
    background-color: rgb(250, 150, 150);
    background-color: rgb(250, 150, 150, 0.8)
}

#profile-image{
    border: 2px solid black
}

.layout{
    
}

table tr:even{
    background-color: rgba(250, 250, 250, 0.8)
}

.profile-pic {
    border-radius: 50%;
}


.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

